<div class="w-full">
  <% content_for :title, "Dishes" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Browse dishes</h1>
    <% if admin? %>
      <%= link_to "New dish", new_dish_path, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div id="dishes" class="min-w-full grid grid-flow-row grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
    <% @dishes.each do |dish| %>
      <%= link_to dish, class: "card card-compact bg-base-100 shadow-xl mb-4" do %>
        <figure><%= image_tag dish.image, class: "w-full h-48 object-cover" if dish.image.attached? %></figure>
        <div class="card-body">
          <h2 class="card-title"><%= dish.name %></h2>
          <div class="card-actions justify-end">
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
